#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero{
    height: 30%;
    width: 50%;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    transition: box-shadow 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    div{
        display: flex;
        justify-content: center;
        width: 100%;
        h1{
            padding: 5px;
            background-color: var(--color-secondary);
        }
    }
}

.icon {
    fill: var(--color-secondary);
}